{% extends 'base.html' %}

{% block content %}
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for message in messages %}
				<div class="alert alert-success" role="alert">{{ message }}</div>
			{% endfor %}
		{% endif %}
	{% endwith %}
	<h1 class="my-5 text-center">Welcome to Space Archeology by Naeem and friends!</h1>
	<div class="container mt-5">
		<div class="row">
			<div class="col rounded shadow-lg p-3">
				<form action="/analyze" method="post" enctype="multipart/form-data">
					<div class="row mb-4">
						<div class="col">
							<label for="modelSelectForm" class="form-label">Model selection:</label>
							<select id="modelSelectForm" class="form-select" aria-label="Select model" name="model_id">
								{% for entry in models %}
									<option {{ selected if loop.index == 0 }}
										value={{ entry['id'] }}>{{ "{} - {}".format(entry['title'], entry['description']) if entry['description'] else entry['title'] }}</option>
								{% endfor %}
							</select>
						</div>
					</div>
					<div class="row mb-4">
						<div class="col">
							<label for="loadTypeSelectForm" class="form-label">Image loading via:</label>
							<select id="loadTypeSelectForm" class="form-select" aria-label="Select model" name="image_loader">
								<option value="input">Input</option>
								<option value="mapbox">Mapbox</option>
							</select>
							<div id="imageLoadRoot" class="mt-3">
							</div>
						</div>
					</div>
					<label for="titleInput" class="form-label">Store as:</label>
					<input id="titleInput" type="text" class="form-control" name="title" required>
					<label for="overlapInput" class="form-label">Overlap:</label>
					<select id="overlapInput" class="form-select mb-3" aria-label="form-control" name="overlap" required>
						<option value=0.0 selected>0.0</option>
						<option value=0.1>0.1</option>
						<option value=0.2>0.2</option>
						<option value=0.3>0.3</option>
						<option value=0.4>0.4</option>
						<option value=0.5>0.5</option>
					</select>
					<label for="cutSizeInput" class="form-label">Cut size (448 pixels for SAR model, other 4 burial mound models):</label>
					<select id="cutSizeInput" class="form-select mb-3" aria-label="form-control" name="cut_size" required>
						<option value=200 selected>200</option>
						<option value=448>448</option>
						<option value=400>400</option>
						<option value=600>600</option>
					</select>
					<label for="customParamsInput" class="form-label">Top left coordinates in UTM (32N) or Decimal Degrees (WGS-1994) and optional image resolution:</label>
				<div id="customParamsInput" class="form-text">Format: west, north, pixel size (UTM coordinates for burial mound models. Decimal degrees for SAR model. Pixel size is optional for burial mound models. Default is 0.25m)</i>
				</div>
					<input id="customParamsInput" type="text" class="form-control" name="custom_params">
{#					<div class="form-check mt-3">#}
{#						<input class="form-check-input" type="checkbox" id="flexCheckDefault" name="download_result">#}
{#						<label class="form-check-label" for="flexCheckDefault">#}
{#							Download result#}
{#						</label>#}
{#					</div>#}
					<button type="submit" class="btn btn-primary mt-3">
						Analyze
					</button>
				</form>
			</div>
		</div>
	</div>
	<script>
    const data = {{ mapboxes | tojson }};
    const mapboxEntries = JSON.parse(data);
    const rootContainer = document.getElementById("imageLoadRoot");
    const loadImageType = document.getElementById("loadTypeSelectForm");

    const cleanElement = (el) => {
      if (!el.firstChild) return
      el.removeChild(el.lastChild);
      cleanElement(el);
    }

    const renderManualInput = () => {
      cleanElement(rootContainer);
      const fileInput = document.createElement("input");
      fileInput.type = "file";
      fileInput.name = "image";
      fileInput.className = "form-control";
      fileInput.accept = "image/*";
      fileInput.required = true

      rootContainer.appendChild(fileInput);
    }

    const renderMapboxInput = () => {
      cleanElement(rootContainer);

      const selectInput = document.createElement("select");
      selectInput.name = "mapbox";
      selectInput.className = "form-select";
      selectInput.required = true

      mapboxEntries.forEach((entry, i) => {
        const [id, title, description] = entry;
        const textContent = [title, description].join(" - ");

        const option = document.createElement("option");
        option.selected = i === 0;
        option.value = id;
        option.textContent = textContent;
        selectInput.appendChild(option);
      });

      rootContainer.appendChild(selectInput);
    }

    const renderInputByType = (val) => {
      const types = {
        mapbox: () => renderMapboxInput(),
        input: () => renderManualInput()
      }

      types[val]();
    };

    renderManualInput();
    loadImageType.addEventListener('change', ({target: {value}}) => renderInputByType(value));
	</script>
{% endblock %}